.container {
    width: 80%;
    margin: 0 auto;
}

.hero {
    width: 100%;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top;
    display: block;
}


.blue {
    background: #0d7cec;
    color: #fff;
    padding: 28px 0;
}

.blue-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.blue-item {
    display: flex;
    align-items: center;
    gap: 14px;
}

.blue-ico {
    width: 36px;
    height: 100px;
    object-fit: contain;
}

.blue-txt {
    font-weight: 600;
    letter-spacing: .02em;
    white-space: nowrap;
}